<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsdGAm4bprtz5cs-aEDli8kIcpoq-8_Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>750807066163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messager</string>
	<key>PROJECT_ID</key>
	<string>flutter-messenger-d91fc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-messenger-d91fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750807066163:ios:b8f606786b71a769c62546</string>
</dict>
</plist>